<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mac_CMS_X_krchhto_Legal_Changer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Mac_CMS_X_krchhto_Legal_Changer.Properties.Settings>
            <setting name="Mac_CMS_X_krchhto_Legal_Changer_krchhto_Management"
                serializeAs="String">
                <value>http://www.kermanshahchhto.ir/Management.asmx</value>
            </setting>
        </Mac_CMS_X_krchhto_Legal_Changer.Properties.Settings>
    </applicationSettings>
</configuration>